extends layout 


block content 
    h1 #{title}: #{genre.name}
    
    if booksInGenre
        p #[strong Delete the following books in the genres before attempting to delete this genre.]

        div(style="margin-left:20px;margin-top:20px")
            h4 Books in Genre 

            dl 
                each bookingenre in booksInGenre 
                    dt 
                        a(href=bookingenre.url) #{bookingenre.title}
    else 
        p Do you really want to delete this genre?
        form(method='POST' action='')
            div.from-group 
                input#genreid.form-control(type='hidden', name='genreid', required='true', value=genre._id)
            button.btn.btn-primary(type='submit') Delete                   